{% extends 'base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <b>Your cart:</b>
    </div>
    <div class="card-body">
        {% if carts %}
            {% for cart in carts %}
                <h5 class="card-title"><b>Product:</b> {{ cart.product.name }} </h5>
                <p class="card-text"><b>Amount:</b> {{ cart.amount }}</p>
                <p class="card-text"><b>Price:</b> {{ cart.product.price }}</p>
                <p class="card-text"><b>
                    {% with x=cart.product.price y=cart.amount %}
                        Sum:</b> {{ x|mul:y }}
                    {% endwith %}</p>
                    <a class="btn btn-success btn-sm mr-3" href="{% url 'delete_from_cart' cart.product.pk %}" role="button">Delete from cart</a>
                    <hr>
            {% endfor %}
        {% else %}
                <p>No products in cart yet</p>
        {% endif %}
    <h5 class="font-weight-bold">Total: {{ total }}</h5>
    </div>
</div>
    <hr>
    {% if carts %}
        {% url 'order_create' as action_url %}
        {% include 'partial/form.html' with action_url=action_url button_text='Submit order' form_method='post' %}
    {% endif %}
{% endblock %}