{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Product #{{ product.pk }} {% endblock %}
{% block nav %}
<nav class="navbar navbar-dark bg-primary mb-5">
    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">FancyShop.com</a>
</nav>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <b>Product: {{ product.name }}</b>
    </div>
    <div class="card-body">
        <h5 class="card-title"><b>Description:</b> {{ product.description }}</h5>
        <p class="card-text"><b>Category: {{ product.category }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Amount: {{ product.amount }}</p>
        <a class="btn btn-primary mr-2" href="{% url 'index' %}" role="button">Index</a>
        <a class="btn btn-danger mr-2" href="{% url 'product_delete' product.pk %}" role="button">Delete</a>
        <a class="btn btn-info mr-2" href="{% url 'product_update' product.pk %}" role="button">Update</a>
        <a class="btn btn-success" href="{% url 'add_to_cart' product.pk %}" role="button">Add to cart</a>
    </div>
</div>
{% endblock %}