{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block search %}
    <form class="form-inline my-lg-0" action="{% url 'index' %}" method="get">
        {% include 'partial/search.html' with button_text='Search' %}
    </form>
{% endblock %}
{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for product in products %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                <p class="text-justify"><b>Price: {{ product.price }} </b> <br>
                                        <b>Category:</b> {{ product.get_category_display }} </p>
                <form class="form-inline">
                    <a class="btn btn-primary btn-sm mr-3" href="{% url 'product_view' product.pk %}" role="button">Details</a>
                    {% if perms.webapp.delete_product %}
                        <a class="btn btn-danger btn-sm mr-3" href="{% url 'product_delete' product.pk %}" role="button">Delete</a>
                    {% endif %}
                    {% if perms.webapp.change_product %}
                        <a class="btn btn-info btn-sm mr-3" href="{% url 'product_update' product.pk %}" role="button">Update</a>
                    {% endif %}
                    <a class="btn btn-success btn-sm mr-3" href="{% url 'add_to_cart' product.pk %}" role="button">Add to cart</a>
                </form>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% if perms.webapp.add_product %}
        <a class="btn btn-primary btn-lg btn-block mb-4" href="{% url 'product_create' %}" role="button">Add product</a>
    {% endif %}
    <br>
{% endblock %}