{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Product #{{ product.pk }} {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <b>Product: {{ product.name }}</b>
    </div>
    <div class="card-body">
        <h5 class="card-title"><b>Description:</b> {{ product.description }}</h5>
        <p class="card-text"><b>Category: {{ product.category }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Amount: {{ product.amount }}</p>
        <a class="btn btn-primary mr-2" href="{% url 'index' %}" role="button">Index</a>
        {% if perms.webapp.delete_product %}
            <a class="btn btn-danger btn-sm mr-3" href="{% url 'product_delete' product.pk %}" role="button">Delete</a>
        {% endif %}
        {% if perms.webapp.change_product %}
            <a class="btn btn-info btn-sm mr-3" href="{% url 'product_update' product.pk %}" role="button">Update</a>
        {% endif %}
        <a class="btn btn-success" href="{% url 'add_to_cart' product.pk %}" role="button">Add to cart</a>
    </div>
</div>
{% endblock %}